@import '../../styles/constants.sass'

html
	font-size: 16px
	color: $TEXTCOLOR

.header
	height: 100px
	background-color: $LIGHTGREY
	display: flex
	align-items: center
	color: $TEXTCOLOR
	&__content
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
	&__buttons

